<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
      .
      Theme by <a href="https://github.com/Beeder/landscape-plus" target="_blank">Landscape-plus</a>
    </div>
  </div>
  
  <!-- 隐藏CNZZ图标 -->
  <div style="display:none"><script src="http://s11.cnzz.com/z_stat.php?id=1253706253&web_id=1253706253" language="JavaScript"></script></div> 
  
</footer>